intentflow-ai/automations/01_task_created_handler.json
{
  "name": "01 - Task Created Handler",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "task-created",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Has Due Date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 220],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.body.data.due_date }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [900, 160],
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "start": "={{ $json.body.data.due_date }}T{{ $json.body.data.due_time || '09:00' }}:00",
        "end": "={{ $json.body.data.due_date }}T{{ ($json.body.data.due_time || '09:00').split(':').map((v, i) => i === 0 ? String(parseInt(v) + 1).padStart(2,'0') : v).join(':') }}:00",
        "additionalFields": {
          "summary": "={{ $json.body.data.title }}",
          "description": "Created by IntentFlow AI\nTask ID: {{ $json.body.data.task_id }}"
        }
      },
      "credentials": { "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar" } }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Update Task with Calendar ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 160],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tasks SET calendar_event_id = '{{ $json.id }}' WHERE id = '{{ $('Webhook Trigger').item.json.body.data.task_id }}';"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $('Webhook Trigger').item.json.body.data.title }}\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Store Embedding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_embeddings (task_id, embedding, created_at)\nVALUES (\n  '{{ $('Webhook Trigger').item.json.body.data.task_id }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}'::vector,\n  NOW()\n)\nON CONFLICT (task_id) DO UPDATE SET embedding = EXCLUDED.embedding, created_at = NOW();"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Reject Invalid Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized\"}",
        "options": { "responseCode": 401 }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Webhook Secret", "type": "main", "index": 0 }]]
    },
    "Validate Webhook Secret": {
      "main": [
        [{ "node": "Has Due Date?", "type": "main", "index": 0 }],
        [{ "node": "Reject Invalid Request", "type": "main", "index": 0 }]
      ]
    },
    "Has Due Date?": {
      "main": [
        [{ "node": "Create Google Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "Generate Embedding", "type": "main", "index": 0 }]
      ]
    },
    "Create Google Calendar Event": {
      "main": [[{ "node": "Update Task with Calendar ID", "type": "main", "index": 0 }]]
    },
    "Update Task with Calendar ID": {
      "main": [[{ "node": "Generate Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Embedding": {
      "main": [[{ "node": "Store Embedding", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-0001-0001-0001-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-01",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-core", "name": "core" }]
}
