intentflow-ai/automations/07_priority_rebalancing_agent.json
{
  "name": "07 - Priority Rebalancing Agent",
  "nodes": [
    {
      "id": "a7000000-0007-0007-0007-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "rebalance-priorities",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000002",
      "name": "Daily 6PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 460],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 18 * * *" }]
        }
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000003",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [460, 380],
      "parameters": { "mode": "chooseBranch", "chooseBranchMode": "waitForAll", "output": "both" }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000004",
      "name": "Get User Active Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 380],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  title,\n  due_date,\n  priority,\n  created_at,\n  category,\n  CASE WHEN due_date IS NOT NULL THEN due_date - CURRENT_DATE ELSE NULL END AS days_until_due\nFROM tasks\nWHERE user_id = '{{ $json.body?.user_id || $json.user_id }}'\n  AND status = 'active'\nORDER BY due_date ASC NULLS LAST\nLIMIT 50;"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000005",
      "name": "AI Priority Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a productivity AI. Analyze the task list and suggest priority adjustments. Return ONLY valid JSON: {\\\"adjustments\\\": [{\\\"task_id\\\": \\\"uuid\\\", \\\"new_priority\\\": \\\"high|medium|low\\\", \\\"reason\\\": \\\"brief reason\\\"}]}. Only include tasks that need a priority change. Prioritize tasks due soon, high-impact work, and tasks blocking others.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Current tasks: {{ JSON.stringify($json) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}"
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000006",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 380],
      "parameters": {
        "jsCode": "const content = $input.item.json.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  return [{ json: { adjustments: [] } }];\n}\nreturn [{ json: { adjustments: parsed.adjustments || [] } }];"
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000007",
      "name": "Has Adjustments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 380],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.adjustments.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000008",
      "name": "Apply Priority Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "jsCode": "const adjustments = $input.item.json.adjustments;\n// Build bulk update statements\nconst statements = adjustments.map(a =>\n  `UPDATE tasks SET priority = '${a.new_priority}' WHERE id = '${a.task_id}';`\n).join('\\n');\nreturn [{ json: { sql: statements, count: adjustments.length, adjustments } }];"
      }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000009",
      "name": "Execute Priority Updates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a7000000-0007-0007-0007-000000000010",
      "name": "Notify User of Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/notifications/send",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Webhook Trigger').item.json.body?.user_id }}",
          "message": "=🤖 AI rebalanced {{ $('Apply Priority Updates').item.json.count }} task priorities based on deadlines and impact.",
          "type": "priority_rebalanced",
          "data": "={{ JSON.stringify($('Apply Priority Updates').item.json.adjustments) }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 0 }]]
    },
    "Daily 6PM Trigger": {
      "main": [[{ "node": "Merge Triggers", "type": "main", "index": 1 }]]
    },
    "Merge Triggers": {
      "main": [[{ "node": "Get User Active Tasks", "type": "main", "index": 0 }]]
    },
    "Get User Active Tasks": {
      "main": [[{ "node": "AI Priority Analysis", "type": "main", "index": 0 }]]
    },
    "AI Priority Analysis": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Has Adjustments?", "type": "main", "index": 0 }]]
    },
    "Has Adjustments?": {
      "main": [
        [{ "node": "Apply Priority Updates", "type": "main", "index": 0 }]
      ]
    },
    "Apply Priority Updates": {
      "main": [[{ "node": "Execute Priority Updates", "type": "main", "index": 0 }]]
    },
    "Execute Priority Updates": {
      "main": [[{ "node": "Notify User of Changes", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a7000000-0007-0007-0007-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-07",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-advanced", "name": "advanced" }]
}
