intentflow-ai/automations/08_semantic_task_search.json
{
  "name": "08 - Semantic Task Search (Generate Embedding)",
  "nodes": [
    {
      "id": "a8000000-0008-0008-0008-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-embedding",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a8000000-0008-0008-0008-000000000002",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a8000000-0008-0008-0008-000000000003",
      "name": "Build Embedding Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 220],
      "parameters": {
        "jsCode": "const task = $input.item.json.body.data;\n// Combine meaningful fields for richer embedding\nconst text = [\n  task.title,\n  task.description || '',\n  task.category    || '',\n  task.priority    || ''\n].filter(Boolean).join('. ');\n\nreturn [{ json: { task_id: task.task_id, embedding_text: text.trim() } }];"
      }
    },
    {
      "id": "a8000000-0008-0008-0008-000000000004",
      "name": "Call OpenAI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{ $json.embedding_text }}\"\n}"
      }
    },
    {
      "id": "a8000000-0008-0008-0008-000000000005",
      "name": "Store or Update Embedding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO task_embeddings (task_id, embedding, created_at)\nVALUES (\n  '{{ $('Build Embedding Text').item.json.task_id }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}'::vector,\n  NOW()\n)\nON CONFLICT (task_id)\nDO UPDATE SET\n  embedding   = EXCLUDED.embedding,\n  created_at  = NOW();"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a8000000-0008-0008-0008-000000000006",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Secret", "type": "main", "index": 0 }]]
    },
    "Validate Secret": {
      "main": [
        [{ "node": "Build Embedding Text", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Build Embedding Text": {
      "main": [[{ "node": "Call OpenAI Embeddings", "type": "main", "index": 0 }]]
    },
    "Call OpenAI Embeddings": {
      "main": [[{ "node": "Store or Update Embedding", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a8000000-0008-0008-0008-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-08",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-advanced", "name": "advanced" }]
}
