intentflow-ai/automations/09_context_aware_scheduling.json
{
  "name": "09 - Context-Aware Scheduling",
  "nodes": [
    {
      "id": "a9000000-0009-0009-0009-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-tasks",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000002",
      "name": "Get Unscheduled Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, priority, category, estimated_minutes\nFROM tasks\nWHERE user_id  = '{{ $json.body.user_id }}'\n  AND status   = 'active'\n  AND due_time IS NULL\n  AND due_date >= CURRENT_DATE\nORDER BY priority DESC, due_date ASC NULLS LAST\nLIMIT 20;"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000003",
      "name": "Fetch Upcoming Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [680, 300],
      "parameters": {
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "returnAll": false,
        "limit": 50,
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() }}"
        }
      },
      "credentials": { "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar" } }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000004",
      "name": "AI Scheduling Suggestions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a scheduling AI. Given a list of unscheduled tasks and existing calendar events, suggest optimal time slots. Rules: schedule deep work (work/urgent) in morning (9am-12pm), admin tasks in afternoon (2pm-5pm), avoid conflicts with calendar events, allow 15min buffers. Return ONLY JSON: {\\\"suggestions\\\": [{\\\"task_id\\\": \\\"uuid\\\", \\\"suggested_date\\\": \\\"YYYY-MM-DD\\\", \\\"suggested_time\\\": \\\"HH:MM\\\", \\\"reason\\\": \\\"brief reason\\\"}]}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Tasks to schedule: {{ JSON.stringify($('Get Unscheduled Tasks').all().map(i => i.json)) }}\\n\\nExisting calendar events: {{ JSON.stringify($('Fetch Upcoming Calendar Events').all().map(i => ({ start: i.json.start, end: i.json.end, summary: i.json.summary }))) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.3\n}"
      }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000005",
      "name": "Parse Suggestions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const content = $input.item.json.choices[0].message.content;\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; }\ncatch (e) { return [{ json: { suggestions: [] } }]; }\nreturn [{ json: { suggestions: parsed.suggestions || [] } }];"
      }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000006",
      "name": "Send Suggestions to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/scheduling/suggestions",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Webhook Trigger').item.json.body.user_id }}",
          "suggestions": "={{ $json.suggestions }}"
        }
      }
    },
    {
      "id": "a9000000-0009-0009-0009-000000000007",
      "name": "Notify User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/notifications/send",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Webhook Trigger').item.json.body.user_id }}",
          "message": "=📅 AI suggested optimal time slots for {{ $('Parse Suggestions').item.json.suggestions.length }} tasks. Tap to review.",
          "type": "scheduling_suggestions"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get Unscheduled Tasks", "type": "main", "index": 0 }]]
    },
    "Get Unscheduled Tasks": {
      "main": [[{ "node": "Fetch Upcoming Calendar Events", "type": "main", "index": 0 }]]
    },
    "Fetch Upcoming Calendar Events": {
      "main": [[{ "node": "AI Scheduling Suggestions", "type": "main", "index": 0 }]]
    },
    "AI Scheduling Suggestions": {
      "main": [[{ "node": "Parse Suggestions", "type": "main", "index": 0 }]]
    },
    "Parse Suggestions": {
      "main": [[{ "node": "Send Suggestions to Backend", "type": "main", "index": 0 }]]
    },
    "Send Suggestions to Backend": {
      "main": [[{ "node": "Notify User", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a9000000-0009-0009-0009-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-09",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-advanced", "name": "advanced" }]
}
