intentflow-ai/automations/10_task_dependency_resolver.json
{
  "name": "10 - Task Dependency Resolver",
  "nodes": [
    {
      "id": "aa000000-0010-0010-0010-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "resolve-dependencies",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000002",
      "name": "Get All Active Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, description, due_date, priority, status\nFROM tasks\nWHERE user_id = '{{ $json.body.user_id }}'\n  AND status IN ('active', 'pending')\nORDER BY created_at DESC\nLIMIT 100;"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000003",
      "name": "AI Dependency Detection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a dependency detection AI. Analyze a task list and identify which tasks depend on or block others. Look for language like 'before', 'after', 'once X is done', 'following', etc. Return ONLY JSON: {\\\"dependencies\\\": [{\\\"task_id\\\": \\\"uuid of blocked task\\\", \\\"blocked_by_task_id\\\": \\\"uuid of blocking task\\\", \\\"reason\\\": \\\"brief explanation\\\"}]}. Only include pairs where you are confident a dependency exists.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Task list: {{ JSON.stringify($json) }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"temperature\": 0.2\n}"
      }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000004",
      "name": "Parse Dependencies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const content = $input.item.json.choices[0].message.content;\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; }\ncatch (e) { return [{ json: { dependencies: [] } }]; }\nreturn [{ json: { dependencies: parsed.dependencies || [] } }];"
      }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000005",
      "name": "Has Dependencies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.dependencies.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000006",
      "name": "Write Dependencies to DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220],
      "parameters": {
        "jsCode": "const deps = $input.item.json.dependencies;\nconst statements = deps.map(d =>\n  `UPDATE tasks SET blocked_by_task_id = '${d.blocked_by_task_id}', status = 'pending' WHERE id = '${d.task_id}' AND blocked_by_task_id IS NULL;`\n).join('\\n');\nreturn [{ json: { sql: statements, count: deps.length } }];"
      }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000007",
      "name": "Execute DB Updates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 220],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "aa000000-0010-0010-0010-000000000008",
      "name": "Notify User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 220],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/notifications/send",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Webhook Trigger').item.json.body.user_id }}",
          "message": "=🔗 AI detected {{ $('Write Dependencies to DB').item.json.count }} task dependencies and updated blockers.",
          "type": "dependencies_resolved"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get All Active Tasks", "type": "main", "index": 0 }]]
    },
    "Get All Active Tasks": {
      "main": [[{ "node": "AI Dependency Detection", "type": "main", "index": 0 }]]
    },
    "AI Dependency Detection": {
      "main": [[{ "node": "Parse Dependencies", "type": "main", "index": 0 }]]
    },
    "Parse Dependencies": {
      "main": [[{ "node": "Has Dependencies?", "type": "main", "index": 0 }]]
    },
    "Has Dependencies?": {
      "main": [
        [{ "node": "Write Dependencies to DB", "type": "main", "index": 0 }]
      ]
    },
    "Write Dependencies to DB": {
      "main": [[{ "node": "Execute DB Updates", "type": "main", "index": 0 }]]
    },
    "Execute DB Updates": {
      "main": [[{ "node": "Notify User", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "aa000000-0010-0010-0010-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-10",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-advanced", "name": "advanced" }]
}
