intentflow-ai/automations/11_focus_mode_optimizer.json
{
  "name": "11 - Focus Mode Optimizer",
  "nodes": [
    {
      "id": "ab000000-0011-0011-0011-000000000001",
      "name": "Daily 7 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }]
        }
      }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000002",
      "name": "Get All Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM users WHERE created_at < CURRENT_DATE - INTERVAL '1 day';"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000003",
      "name": "Loop Over Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000004",
      "name": "Get Today's Tasks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  title,\n  priority,\n  category,\n  due_date,\n  due_time,\n  estimated_minutes,\n  CASE\n    WHEN priority = 'high'   THEN 3\n    WHEN priority = 'medium' THEN 2\n    ELSE 1\n  END AS priority_score,\n  CASE\n    WHEN due_date = CURRENT_DATE THEN 10\n    WHEN due_date = CURRENT_DATE + 1 THEN 5\n    WHEN due_date IS NULL THEN 0\n    ELSE GREATEST(0, 3 - (due_date - CURRENT_DATE))\n  END AS urgency_score\nFROM tasks\nWHERE user_id = '{{ $json.id }}'\n  AND status   = 'active'\n  AND (due_date IS NULL OR due_date >= CURRENT_DATE)\nORDER BY (priority_score + urgency_score) DESC\nLIMIT 20;"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000005",
      "name": "Pick Top 3 Focus Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "jsCode": "const tasks = $input.all().map(i => i.json);\nif (tasks.length === 0) return [];\n\nconst top3 = tasks.slice(0, 3);\nconst userId = $('Loop Over Users').item.json.id;\n\nreturn [{\n  json: {\n    user_id: userId,\n    focus_tasks: top3.map((t, idx) => ({\n      rank:     idx + 1,\n      task_id:  t.id,\n      title:    t.title,\n      priority: t.priority,\n      due_date: t.due_date\n    }))\n  }\n}];"
      }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000006",
      "name": "Save Focus List to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_focus_lists (user_id, focus_date, task_ids, created_at)\nVALUES (\n  '{{ $json.user_id }}',\n  CURRENT_DATE,\n  '{{ JSON.stringify($json.focus_tasks.map(t => t.task_id)) }}'::jsonb,\n  NOW()\n)\nON CONFLICT (user_id, focus_date)\nDO UPDATE SET\n  task_ids   = EXCLUDED.task_ids,\n  created_at = NOW();"
      },
      "credentials": { "postgres": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "IntentFlow Database" } }
    },
    {
      "id": "ab000000-0011-0011-0011-000000000007",
      "name": "Send Focus Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/notifications/send",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "user_id": "={{ $('Pick Top 3 Focus Tasks').item.json.user_id }}",
          "message": "=🎯 Your Focus Mode is ready — top 3 tasks for today: {{ $('Pick Top 3 Focus Tasks').item.json.focus_tasks.map(t => t.title).join(', ') }}",
          "type": "focus_mode",
          "data": "={{ JSON.stringify($('Pick Top 3 Focus Tasks').item.json.focus_tasks) }}"
        }
      }
    }
  ],
  "connections": {
    "Daily 7 AM Trigger": {
      "main": [[{ "node": "Get All Active Users", "type": "main", "index": 0 }]]
    },
    "Get All Active Users": {
      "main": [[{ "node": "Loop Over Users", "type": "main", "index": 0 }]]
    },
    "Loop Over Users": {
      "main": [[{ "node": "Get Today's Tasks", "type": "main", "index": 0 }]]
    },
    "Get Today's Tasks": {
      "main": [[{ "node": "Pick Top 3 Focus Tasks", "type": "main", "index": 0 }]]
    },
    "Pick Top 3 Focus Tasks": {
      "main": [[{ "node": "Save Focus List to DB", "type": "main", "index": 0 }]]
    },
    "Save Focus List to DB": {
      "main": [[{ "node": "Send Focus Notification", "type": "main", "index": 0 }]]
    },
    "Send Focus Notification": {
      "main": [[{ "node": "Loop Over Users", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "ab000000-0011-0011-0011-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-11",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-advanced", "name": "advanced" }]
}
