intentflow-ai/automations/EX1_task_updated_handler.json
{
  "name": "EX1 - Task Updated Handler",
  "nodes": [
    {
      "id": "ex100000-ex01-ex01-ex01-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "task-updated",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "ex100000-ex01-ex01-ex01-000000000002",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ex100000-ex01-ex01-ex01-000000000003",
      "name": "What Changed?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 220],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.body.changed_fields?.includes('title') || $json.body.changed_fields?.includes('description') }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text_changed"
            },
            {
              "conditions": {
                "options": {},
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $json.body.changed_fields?.includes('due_date') || $json.body.changed_fields?.includes('due_time') }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "date_changed"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "ex100000-ex01-ex01-ex01-000000000004",
      "name": "Regenerate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/webhook/generate-embedding",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "data": "={{ $('Webhook Trigger').item.json.body.data }}"
        }
      }
    },
    {
      "id": "ex100000-ex01-ex01-ex01-000000000005",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [900, 320],
      "parameters": {
        "operation": "update",
        "calendar": { "__rl": true, "value": "primary", "mode": "id" },
        "eventId": "={{ $('Webhook Trigger').item.json.body.data.calendar_event_id }}",
        "updateFields": {
          "start": "={{ $('Webhook Trigger').item.json.body.data.due_date }}T{{ $('Webhook Trigger').item.json.body.data.due_time || '09:00' }}:00",
          "end":   "={{ $('Webhook Trigger').item.json.body.data.due_date }}T{{ ($('Webhook Trigger').item.json.body.data.due_time || '09:00').split(':').map((v,i) => i===0 ? String(parseInt(v)+1).padStart(2,'0') : v).join(':') }}:00",
          "summary": "={{ $('Webhook Trigger').item.json.body.data.title }}"
        }
      },
      "credentials": { "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Calendar" } }
    },
    {
      "id": "ex100000-ex01-ex01-ex01-000000000006",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 440],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Validate Secret", "type": "main", "index": 0 }]]
    },
    "Validate Secret": {
      "main": [
        [{ "node": "What Changed?", "type": "main", "index": 0 }],
        [{ "node": "Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "What Changed?": {
      "main": [
        [{ "node": "Regenerate Embedding", "type": "main", "index": 0 }],
        [{ "node": "Update Calendar Event", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "ex100000-ex01-ex01-ex01-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "intentflow-automation-ex1",
  "tags": [{ "createdAt": "2026-02-01T00:00:00.000Z", "updatedAt": "2026-02-01T00:00:00.000Z", "id": "tag-extra", "name": "extra" }]
}
